body {
  --background-color: #373342;
  --border-radius: 8px;
  --padding: 30px;

  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  // font-size: 14px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
