body {
  --background-color: #373342;
  --border-radius: 8px;
  --padding: 30px;

  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @media screen and (max-width: 1320px) {
    height: fit-content;
  }
}
