.wrapper {
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;

  display: flex;
  @media screen and (max-width: 1320px) {
    height: fit-content;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
  }

  // justify-content: space-between;

  .vertical {
    display: flex;
    flex-direction: column;
    // justify-content: ;
    margin-left: 20px;
    gap: 10px;
    width: fit-content;

    .fight {
      div {
        padding: 5px;
      }
      font-size: 27px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
