.wrapper {
  width: 70vw;
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;

  display: flex;
  // justify-content: space-between;

  .vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
  }
}
