.wrapper {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  // border: 10px solid red;
  flex-direction: row;
  gap: 10px;

  .block {
    display: flex;
    gap: 5px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }
  }
}
