.wrapper {
  * {
    padding: 5px;
  }

  .horizontal {
    display: flex;
    gap: 10px;
    align-items: center;

    .attribute {
      font-size: 20px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
