.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: fit-content;

  img {
    width: 290px;
    height: 325px;
    padding: 20px;
    border-radius: var(--border-radius);
    border: 4px solid rgba(0, 0, 0, 0.2);
  }

  .buttons {
    display: flex;
    width: 100%;
    gap: 10px;
  }
}
