.wrapper {
  // border: 2px solid red;
  // background-color: red;
  // height: 200px;
  // width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: fit-content;

  img {
    width: 200px;
    // width: 100%;
    height: 225px;
    padding: 20px;
    border-radius: var(--border-radius);
    border: 4px solid rgba(0, 0, 0, 0.2);
  }

  .buttons {
    display: flex;
    // border: 1px solid red;
    width: 100%;
    gap: 10px;
    // border: 1px solid red;

    button {
      // border: 1px solid grey;
      color: rgba(0, 0, 0, 0.2);
      flex-grow: 1;
      border-radius: var(--border-radius);
      border: 4px solid rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
