.wrapper {
  * {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }

  h3 {
    font-size: 27px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
  }

  .horizontal {
    display: flex;
    gap: 10px;
    color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
  }

  padding: 10px;
  border-radius: var(--border-radius);
}
